.profile-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}

.profile-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

form button {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.comments-list {
  margin-top: 20px;
}

.comment {
  background-color: #363542;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment-user {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-content {
  font-size: 14px;
  color:white;
  margin: 0;
}

.no-comments {
  text-align: center;
  color:white;
  margin-top: 20px;
}
